[submodule "jni/curl"]
	path = jni/curl
	url = https://github.com/curl/curl.git
[submodule "jni/zlib"]
	path = jni/zlib
	url = https://github.com/madler/zlib.git
[submodule "jni/openssl"]
	path = jni/openssl
	url = https://github.com/openssl/openssl.git
